/* ---------------- Global Classes ---------------- */


@import url('https://fonts.googleapis.com/css?family=Merriweather|Montserrat|Lato|Oswald&display=swap');


:root {
    --main-bg: #010038;
    --second-bg:  #293A80;
    --main-color: #EEEEEE;
    --another-color: #537EC5;
}

html,
body {
    margin: 0%;
    box-sizing: border-box;
    overflow-x: hidden;
    background: var(--main-bg);
    color: var(--main-color);
    font-family:  "Lato", sans-serif;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--main-color);
}


.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.container {
    padding: 10% 5%;
}

.container:first-child {
    padding: 1% 5%;
}

.space_around{
    justify-content: space-around;
}





/* --------X-------- Global Classes --------X-------- */






/* ---------------- TOP Page ---------------- */
.left-div {
    width: 25rem;
    margin-top: 6rem;
}


.right-div {
    overflow: hidden;
    width: 27rem;
    display: flex;
    justify-content: flex-end;
}

.top-page {
    margin-top: 10rem;
    justify-content: space-between;
}

.side-link {
    margin-right: 2rem;
}

.side-link ul li {
    font-size:2rem;
    padding: 0.6rem 0;
}

.left-content h3 {
    border-radius: 0.25rem;
    padding: 0.5rem 0.75rem;
    text-align: center;
    background: var(--another-color);
    width: fit-content;
    font-family: 'Montserrat', sans-serif;
    box-shadow: inset 20px 20px 60px #476ba7,
            inset -20px -20px 60px #5f91e3;
}

.left-content h1 {
    font-size: 3rem;
    margin-top: 2.5rem;
    margin-bottom: 2rem;
    font-family: 'Merriweather', serif;
    letter-spacing: 0.5rem;
}

.left-content h2 {
    font-size: 2.5rem;
    letter-spacing: 2.5px;
    font-family: 'Montserrat', sans-serif;
}


.button button {
    padding: 0.75rem;
    width: 8rem;
    border-radius: 0.5rem;
    margin-right: 1rem;
}

.button button a {
    color: var(--main-color);
    /* font-weight: 600; */
    font-family: 'Oswald', sans-serif;
    font-size: 1rem;
    letter-spacing: 0.1rem;
}

.button button:first-child {
    background: var(--main-bg);
    border: 1px solid var(--another-color);
}
.button button:first-child:hover {
    background: var(--another-color);
    border: 1px solid var(--main-bg);
    cursor: pointer;
}

.button button:nth-child(2) {
    background: var(--another-color);
    border: 1px solid var(--another-color);
}
.button button:nth-child(2):hover {
    background: var(--main-bg);
    border: 1px solid var(--another-color);
    cursor: pointer;
}

.right-div .image {
    overflow: hidden;
    width: 27rem;
    height: 27rem;
}

.right-div .image img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

/* ---------------- For A Size ---------------- */

@media (max-width: 945px) {


    .top-page {
        justify-content: space-around;
    }

    .right-div .image {
        width: 23rem;
        height: 23rem;
    }

    .right-div {
        width: 23rem;
    }

    .left-div {
        width: 23rem;
        margin-bottom: 3rem;
    }

    .side-link ul {
        padding: 0;
    }
}

@media (max-width: 774px) {
    .left-div {
        margin: 3rem 0;
    }
}

@media (max-width: 390px) {
    .left-div .side-link ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

    }
    .right-div .image{
        width: 20rem;
        height: 20rem;
        margin:0 auto;
    }

    .left-div .side-link ul li {
        padding: 10px;
    }
    .button button{
        margin-bottom: 20px;
    }
}

/* --------X-------- For A Size --------X-------- */


/* --------X-------- TOP Page --------X-------- */

/* ---------------- NavBar ---------------- */
.navbar {
    width: 400px;
    background: var(--second-bg);
    border: 1px solid var(--second-bg);
    border-radius: 10px;
    text-align: center;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, 0%);
}

.nav-items {
    margin: 0px;
    padding-left: 0;
}
.nav-items li a i {
    font-size: 21px;
    padding: 10px;
}
@media (max-width: 406px) {
    .navbar{
        width: 300px;
    }
}


/* --------X-------- NavBar --------X-------- */

/* ---------------- Top OF All Section ---------------- */
.top_of_all_section{
    text-align: center;
    margin: 0 0 11%;
}
.top_of_all_section .sub_top{
    font-size: 18px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}
.top_of_all_section .main_top{
    font-size: 35px;
    font-weight: bolder;
    margin: 20px;
    font-family: 'Merriweather', serif;
}

/* --------X-------- Top OF All Section --------X-------- */


/* ---------------- About ---------------- */
.about_img {
    width: 400px;
    overflow: hidden;
}

.about_img img {
    border-radius: 20px;
    width: 100%;
}
.about_content{
    width: 500px;
}
.about_content .writting {
    text-align: left;
    margin: 50px 0px;
    font-size: 23px;
    word-spacing: 10px;
    line-height: 35px;
}
ul.about_tag{
    padding-left: 0;
  }
ul.about_tag li {
    padding: 0.5rem 1rem;
    border: 2px solid var(--another-color);
    margin-right: 2rem;
    border-radius: 9px;
    margin-bottom: 10px;
    font-family: 'Oswald', sans-serif;
}
ul.about_tag li:last-child {
    margin-right: 0px;

}

/* --------X-------- About --------X-------- */

/* ---------------- Experience ---------------- */

.experience_box {
    width: 30rem;
    height: 30rem;
    overflow: hidden;
    /* background: var(--second-bg); */
    border-radius: 45px;
    background: linear-gradient(145deg, #253473, #2c3e89);
    box-shadow: inset 20px 20px 60px #23316d,
    inset -20px -20px 60px #2f4393;

}

.experience_wrapper {
    justify-content: space-around;
}

.experience_box_top {
    font-size: 25px;
    text-align: center;
    margin-top: 55px;
    font-family: 'Merriweather', serif;

}
.experience_box_list ul{
    padding: 0;
}
.experience_box_list ul li {
    width: 175px;
    overflow: hidden;
    margin: 75px 30px;
}
.list_tick i {
    font-size: 35px;
    margin-right: 15px;
}

.list_subline {
    margin-left: 50px;
    font-size: 13px;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 0.1rem;
}
.experience_box_list ul li:first-child{
    margin-top: 30px;
}
.list_headline {
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;

}
@media (max-width: 1120px) {
    .experience_box {
        width: 400px;
        margin-bottom: 20px;
    }
    .experience_box_list ul li{
        margin:74px 10px;
    }
    /* CSS that should be displayed if width is equal to or less than 800px goes here */
    
}
@media (max-width: 900px) {
    .experience_wrapper {
        justify-content: space-around;
    }

    /* CSS that should be displayed if width is equal to or less than 800px goes here */
    
}
@media (max-width: 450px) {
    .experience_box_list  {
        justify-content: space-around;
    }
    .experience_box{
        height: 700px;
    }
    .experience_box_list ul li:last-child{
        margin-bottom: 0px;
    }
    /* CSS that should be displayed if width is equal to or less than 800px goes here */
    
}


/* --------X-------- Experience --------X-------- */


/* ---------------- Edu Professional ---------------- */

.education {
    width: 40%;
}
.edu_professional_top {
    font-size: 40px;
    font-family: 'Merriweather', serif;
}

.edu_wrapper {
    background: var(--second-bg);
    padding: 20px;
    margin: 40px 0px;
    border-radius: 25px;
    box-shadow: inset 20px 20px 60px #23316d,
            inset -20px -20px 60px #2f4393;

}

h3.edu_top {
    font-size: 1.5rem;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

p.edu_year {
    margin: 5px 0;
    font-size: 0.75rem;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 0.25rem;
}
p.edu_content {
    font-size: 1.05rem;
    font-family: monospace;
}
.professional_skill_wrapper {
    width: 40%;
    position: relative;
    margin: 2rem 1rem;
}

.professinal_skill_wrapper_all {
    justify-content: space-between;
    text-align: center;
    font-family: 'Oswald', sans-serif;
}

.professional_skil {
    width: 500px;
    overflow: hidden;
}
p.image_parcent {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}


@media (max-width: 1120px) {
    .education{
        width: 400px;
    }
    .professional_skil{
        width: 400px;
    }
}
@media (max-width: 450px) {
    .professinal_skill_wrapper_all{
        justify-content: space-around;
    }
    /* CSS that should be displayed if width is equal to or less than 800px goes here */
    
}

/* --------X-------- Edu Professional --------X-------- */


/* ---------------- Project ---------------- */
  
.proj_button_wrapper {
    padding: 0px 10px 20px;
    justify-content: space-between;
    /* background: black; */
}

.proj_button {
    border: 1px solid var(--another-color);
    padding: 10px 15px;
    background: var(--second-bg);
    border-radius: 10px;
    cursor: pointer;
}
.proj {
    width: 300px;
    background: var(--second-bg);
    overflow: hidden;
    border-radius: 15px;
    margin-bottom: 20px;
}

.projimg {
    width: 100%;
    border-radius: 15px;
    padding: 0px;
}

h1.proj_title {
    font-size: 25px;
    padding: 0px 15px;
}

.sel_proj {
    margin: 8% auto;
    width: 400px;
}
.sel_proj_wrap li {
    padding: 15px;
    background-color: var(--second-bg);
    border-radius: 10px;
    cursor: pointer;
}
.sel_proj_wrap li:first-child{
    border: 1px solid var(--another-color);    
}

.sel_proj_wrap{
    padding-left: 0;
}

@media (max-width: 400px) {
    .sel_proj{
        width: 200px;
    }
    .sel_proj_wrap li{
        margin-bottom: 10px;
    }
    /* CSS that should be displayed if width is equal to or less than 800px goes here */
    
}
/* --------X-------- Project --------X-------- */


/* ---------------- CONTACT ---------------- */

.contact_title {
    text-align: center;
    margin-bottom: 75px;
    font-size: 25px;
}
  

  
.contact_card {
    background-color: var(--second-bg);
    padding: 1rem 3rem;
    border-radius: .75rem;
    text-align: center;
    margin-bottom: 20px;
}
  
.contact_info_icon i {
    font-size: 33px;
    padding: 13px;
}
.contact_card_title,
.contact_card_data {
    font-size: 19px;
    margin: 5px 0px;
}

.contact_card_data {
    display: block;
    margin-bottom: .75rem;
}
  
.contact_button {
    color: var(--another-color);
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: .25rem;

}
  
.contact_button:hover .contact_button_icon {
    transform: translateX(.25rem);
}
  
.contact_button_icon {
    transition: .4s;
    font-size: 1rem;
    width: 10px;
}
  
.contact_form_div {
    position: relative;
    margin-bottom: 2rem;
    height: 4rem;
}
  
.contact_form_input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid var(--another-color);
    background: none;
    color: var(--main-color);
    outline: none;
    padding: 1.5rem;
    border-radius: .75rem;
    z-index: 1;
}
  
.contact_form_tag {
    position: absolute;
    top: -.75rem;
    left: 1.25rem;
    font-size: 19px;
    padding: .25rem;
    background-color: var(--second-bg);
    z-index: 2;
}
  
.contact_form_area {
    height: 13rem;
}
  
.contact_form_area textarea {
    resize: none;
}

.buttonmsg {
    font-size: 19px;
    padding: 18px 9px;
    width: 160px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background: var(--another-color);
    color: var(--main-color);
}
/* --------X-------- CONTACT --------X-------- */

/* ---------------- Footer ---------------- */

footer {
    background: var(--another-color);
}
.last_wrap {
    padding: 5%;
    text-align: center;
}
.last_wrap ul{
    width: 300px;
    margin: 20px auto;
}
ul.social_last li a i {
    font-size: 30px;
}
.footer_copy {
    margin: 50px 0;
}

@media (max-width: 640px) {
    .footer_copy {
        margin: 100px 0;
    }
}

/* --------X-------- Footer --------X-------- */



/* ---------------- Loader ---------------- */

@keyframes slide-down {
    0% {
      transform: translateY(-100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
}
  
.loader{
    height: 100vh;
    background-color: #222831;
}
.swipe-container {
    position: absolute;
    top: 40%;
    left: 40%;
    font-size: 3rem;
    font-family: 'Oswald', sans-serif;
}
  
.swipe-container p{
    display: inline;
    color: #7b808d;
    animation: slide-down 1s ease forwards;
}

.swipe-container p:nth-child(2){
    color: #f6f5f5c7;
}


/* --------X-------- Loader --------X-------- */

/* ---------------- ScrollBar ---------------- */
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--second-bg); 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--main-bg); 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--another-color); 
  }

/* --------X-------- ScrollBar --------X-------- */




/* ---------------- ScrollAnimation ---------------- */
.main{
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
    scroll-behavior: smooth;
}

header, section, footer{
    scroll-snap-align: start;
}
/* --------X-------- ScrollAnimation --------X-------- */


@keyframes comeFromLeft {
    from{
        transform: translateX(-300px);
    }
    to{
        transform: translateX(0);
    }
}


@keyframes comeFromRight {
    from{
        transform: translateX(300px);
    }
    to{
        transform: translateX(0);
    }
}


.animate-left.in-view{
    animation: comeFromLeft 1.5s;
}
.animate-right.in-view{
    animation: comeFromRight 1.5s;
}
